.App {
  text-align: center;
}

nav a {
  padding: 0.5em;
  margin: 1em;
  text-decoration: none;
  color: black;
}
a,
button {
  cursor: pointer;
}
.productSummary {
  margin: 1em auto;
  width: 30em;
  padding: 1em;
  background: #ececec;
  box-shadow: 1px 1px grey;
}

.productArrow {
  float: right;
  font-weight: bold;
  font-size: x-large;
  margin-top: -6px;
}

.productList .flex {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}
