/* Your CSS Here */

.list {
  list-style: none;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #999999;
}
h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);

}
button {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap: 10px;
  margin: auto;
  max-width: 500px;
}
.center button {
  padding: 10px 15px;
  border: none;
  background-color: #7c5502;
  color: #ffffff;
}

.form form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.form form input {
  padding: 10px;
  border: 1px solid white;
  outline: none;
  margin-bottom: 20px;
}

#container {
  margin: 0;
}

#main {
  display: flex;
  min-height: calc(100vh - 20vh);
}

#main > article {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.confirm button {
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(128, 167, 12);
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  max-width: 700px;
  gap: 10px;
}

.confirmation .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.confirmation p {
  text-align: center;
}

/* #main > nav {
  flex: 0 0 20vw;
  order: -1;
} */

#main > aside {
  border: 1px solid black;
}

#main aside .cart .cart-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header,
article,
nav,
aside {
  padding: 1em;
}

header {
  height: 10vh;
}

header {
  align-items: center;
  font-weight: bold;
  background-color: #183054;
  color: white;
  padding: 20px 10px;
  font-size: 15px;
}

.products {
  display: flex;
}

.product-image {
  height: 95px;
  width: 100%;
}

.product-card {
  border: 3px solid #7f7f7f;
  width: 125px;
  margin: 3px;
}

.title {
  padding: 6px;
  font-size: 12px;
  margin: 0;
}

.product-select {
  width: 100%;
  display: block;
  position: relative;
  border: 1.5px solid #fcc44c;
  background-color: #fcc44c;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  #main > article {
    width: 60%;
  }
  #main > aside {
    width: 40%;
  }
}
